/*img { behavior:url('images/pngbehavior.htc'); })*/

html, body,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
input, button, select, textarea,
.text { font: 8pt Arial, sans-serif; }

h1 { font-size: xx-large; }
h2 { font-size: x-large; }
h3 { font-size: large; }

a:link { color: #00e; }
a:visited { color: #551A8B; }
/*a:hover { color: #00e; }*/

body {  }
	#container 
	{   
		margin:auto; 
		width: 780px;
		background-color: #f8f8f8;
		border: 1px dotted #ccc; border-width: 0 1px; 
	}
		#header 
		{ 
			height: 30px; 
			padding: 20px; 
			background-color: #fff; 
			text-align: center; 
		}
		#top-panel 
		{ 
			padding: 5px 20px; 
			background-color: #eee; 
			border: 1px dotted #ccc; border-width: 1px 0px; 
		}
			#search { float: left; }
			#loginArea { float: right; }

		#sidebar
		{ 
			float: left; 
			width: 120px; 
			padding: 20px; 
			border-right: 1px dotted #ccc; 
		}
			#menu .active { font-weight: bold; }
		#content 
		{ 
			padding: 20px; margin-left: 180px;
		}			
		#bottom-panel 
		{ 
			padding: 5px; 
			background-color: #eee; 
			border: 1px dotted #ccc; border-width: 1px 0px;
			text-align: center;
		}
		#footer { text-align: center; padding: 5px;  }
			#counter {}