/************************GLOBAL RESET**************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
	border: 0;
	font-family: inherit; font-size: 100%; font-style: inherit; font-weight: inherit;
	margin: 0; padding: 0;
	outline: 0;
}
:focus { outline: 0; }
body 
{
	color: #000;
	line-height: 1;
	background: #fff;
}
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td 
{
	font-weight: normal;
	text-align: left;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; }
li { list-style-type: none; }
label { display: block; margin-top: 10px; }
button { cursor: pointer; }
p { margin-bottom: 10px; }