.border-radius (@radius: 5px) {
  border-radius: @radius;
//  -webkit-border-radius: @radius;
//  -moz-border-radius: @radius;
}

.linear-gradient (@startColor: #fff, @endColor: #fff) {
//  background: -webkit-gradient(linear, 0 0, 0 bottom, from(@startColor), to(@endColor));
//  background: -webkit-linear-gradient(@startColor, @endColor);
//  background: -moz-linear-gradient(@startColor, @endColor);
//  background: -ms-linear-gradient(@startColor, @endColor);
//  background: -o-linear-gradient(@startColor, @endColor);
  background: linear-gradient(@startColor, @endColor);
//  -pie-background: linear-gradient(@startColor, @endColor);
//  behavior: url('/js/PIE.htc');
}

.box-shadow (@x: 0, @y: 0, @blur: 1px, @color: #000) {
  box-shadow: @arguments;
//  -moz-box-shadow: @arguments;
//  -webkit-box-shadow: @arguments;
}