@import "reset.css";
@import "classes.css";

body {
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: normal;
  background-color: #fff;
  color: #000;
}

a {
    color: #00e;
    /*transition: color 2s;*/
}
a:hover {
     color: #00e;
     transition: color 0.5s;
}

.layout-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.layout-content {
    flex: 1;
}

.container {
    margin:auto;
    max-width: 780px;
}

header {
    height: 30px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

.logo h2 {
    margin: 0;
    font-weight: normal;
}

.top-panel {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #eee;
    border: 1px solid #ccc;
}

.searchArea {
    float:left;
}

.loginArea {
    float:right;
}

aside {
    float: left;
    width: 120px;
    padding: 20px;
}

nav .active {
    font-weight: bold;
}

section {
    padding: 20px;
    margin-left: 180px;
    border: 1px solid #ccc;
    background: #f8f8f8 linear-gradient(#f8f8f8, #ffffff);
}
section h1:first-child {
    margin-top: 0;
}

.bottom-panel {
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: center;
}

footer {
    text-align: center;
    padding: 5px;
}

.counter {
}